<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Application des maladies des yeux</title>
  </head>
  <body>
    <h1>Résultat prédiction</h1>
    <p>
      <img
        src='/chart?param={"type" :"bar", "datas":
       {
        "Chrome" : 65,
        "Safari" : 16,
        "Edge" : 4,
        "Firefox": 3,
        "Autres":5
        }
    }'
        alt=""
      />
    </p>
  </body>
</html>
